/* styles.css */
.side_frame {
    -fx-background-color: rgba(220, 220, 220, 0.307);
    -fx-background-radius: 30
    ;
}

.anchor_pane {
    -fx-background-color: rgb(224, 224, 224);

}

.top_frame {
    -fx-background-color: rgb(235, 235, 235);
    -fx-background-radius: 30
    ;

}

.inner_box_frame{
    -fx-background-color: rgb(228, 228, 228);
    -fx-background-radius: 30
    ;
    
}